.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__item a {
    display: block;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid @border-grey;
   .font-rule(18px; 58px; 700; @white);
   .blue-bg();
  }
}

.menu__toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
  background: url(../img/icon-menu.svg) no-repeat center;
  cursor: pointer;
}
